@page
@model dudego.Pages.TbInvoiceDetails.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbInvoiceDetail</h4>
<hr />

<div class="flex">
    <div class="flex flex-row">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TbInvoiceDetail.IdInvoice" class="control-label"></label>
                <input type="text" id="IdInvoice" name="IdInvoice" value="@ViewData["IdInvoice"]" readonly />
            </div>
            <div class="form-group">
                <label asp-for="TbInvoiceDetail.IdCar" class="control-label"></label>
                <select asp-for="TbInvoiceDetail.IdCar" class ="form-control" asp-items="ViewBag.IdCar"></select>
            </div>
            <div class="form-group">
                <label asp-for="TbInvoiceDetail.DayDuration" class="control-label"></label>
                <input asp-for="TbInvoiceDetail.DayDuration" class="form-control" />
                <span asp-validation-for="TbInvoiceDetail.DayDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TbInvoiceDetail.PriceDay" class="control-label"></label>
                <input asp-for="TbInvoiceDetail.PriceDay" class="form-control" />
                <span asp-validation-for="TbInvoiceDetail.PriceDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TbInvoiceDetail.RentalDeposit" class="control-label"></label>
                <input asp-for="TbInvoiceDetail.RentalDeposit" class="form-control" />
                <span asp-validation-for="TbInvoiceDetail.RentalDeposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>






    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase ">
                <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-50 ">
                        Tiempo arrendamiento
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Precio por dia
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50">
                        Deposito
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Placa
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Factura
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-200 ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50">
                        Apple MacBook Pro 17"
                    </th>
                    <td class="px-6 py-4">
                        Silver
                    </td>
                    <td class="px-6 py-4 bg-gray-50 ">
                        Laptop
                    </td>
                    <td class="px-6 py-4">
                        $2999
                    </td>
                </tr>
                <tr class="border-b border-gray-200 ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50">
                        Microsoft Surface Pro
                    </th>
                    <td class="px-6 py-4">
                        White
                    </td>
                    <td class="px-6 py-4 bg-gray-50 ">
                        Laptop PC
                    </td>
                    <td class="px-6 py-4">
                        $1999
                    </td>
                </tr>
                <tr class="border-b border-gray-200 ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                        Magic Mouse 2
                    </th>
                    <td class="px-6 py-4">
                        Black
                    </td>
                    <td class="px-6 py-4 bg-gray-50">
                        Accessories
                    </td>
                    <td class="px-6 py-4">
                        $99
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                        Google Pixel Phone
                    </th>
                    <td class="px-6 py-4">
                        Gray
                    </td>
                    <td class="px-6 py-4 bg-gray-50 ">
                        Phone
                    </td>
                    <td class="px-6 py-4">
                        $799
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                        Apple Watch 5
                    </th>
                    <td class="px-6 py-4">
                        Red
                    </td>
                    <td class="px-6 py-4 bg-gray-50 ">
                        Wearables
                    </td>
                    <td class="px-6 py-4">
                        $999
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
